{% unless aria_label %}
  {% assign aria_label = 'accessibility.play' | t %}
{% endunless %}

<svg
  width="54"
  height="54"
  viewBox="0 0 38 39"
  fill="none"
  focusable="false"
  xmlns="http://www.w3.org/2000/svg"
  aria-label="{{ aria_label }}"
  aria-hidden="true"
>
  <title>{{ aria_label }}</title>
  <path d="M24.5 18.3046C25.1667 18.6895 25.1667 19.6518 24.5 20.0367L16.25 24.7998C15.5833 25.1847 14.75 24.7036 14.75 23.9338L14.75 14.4075C14.75 13.6377 15.5833 13.1566 16.25 13.5415L24.5 18.3046Z" fill="currentColor"/>
</svg>
